ul {
    list-style-type: square;
}
.two img 
{
    aspect-ratio: 16/9;
    max-width: 500px;
    background: #f806cf;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 0 0 20px;
    padding: 4px;
}
table{
    border-collapse: seperate;
    border-spacing: 0;
}
th,td
{
    border: 1px solid #cecfd5;
    padding: 10px 15px;
}
thead
{
    background: #395870;
    color: #fff;
}
tbody tr:nth-child(even)
{
    background: #f0f0f294;
}
tfoot tr:last-child td
{
    border-bottom: 0;
}
td{
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}
td:first-child{
    border-left: 1px solid #cecfd5;
}
.one img{
    float: right;
}